body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #607479 !important; 
    color: #333;
    background: 
    url('batlle.gif') calc(100% + 10px) center / 50% no-repeat;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    overflow: hidden;
    padding: 30px;
    background-color: #EFEDE7; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2); 
}



h1 {
    text-align: center;
    color: #00796b; 
    margin-bottom: 30px;
    font-weight: 600;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.tab-button {
    padding: 12px 24px;
    background-color: #607479; 
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    border-radius: 5px;
    margin: 0 5px;
    color: #004d40; 
}

.tab-button:hover {
    background-color: #80cbc4; 
}

.tab-button.active {
    background-color: #004d40; 
    color: white;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #EFEDE7; 
    border-radius: 5px;
}

.tab-content.active {
    display: block;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: 500;
    color: #00796b; /* Verde escuro */
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #80cbc4; /* Verde claro */
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.formField {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #004d40; /* Verde escuro */
    box-shadow: 0 0 0 2px rgba(0, 77, 64, 0.25); /* Verde escuro */
}

button[type="submit"], button {
    background-color: #607479; /* Verde escuro */
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    flex: 1;
}

button:hover {
    background-color: #004d40; /* Verde escuro */
}

#cancelBtn {
    background-color: #d32f2f; /* Vermelho escuro */
}

#cancelBtn:hover {
    background-color: #c62828; /* Vermelho mais escuro */
}

.message {
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    display: none;
}

.success-message {
    background-color: #d0f0c0; /* Verde claro */
    color: #2e7d32; /* Verde escuro */
    border-left: 4px solid #66bb6a; /* Verde claro */
}

.error-message {
    background-color: #f9e0e0; /* Vermelho claro */
    color: #c62828; /* Vermelho escuro */
    border-left: 4px solid #d32f2f; /* Vermelho escuro */
}

.tab-content .message {
    margin-top: 20px;
}

#updateForm {
    margin-bottom: 20px;
}
